<div class="page-header"><h1>Uploaded Images</h1></div>

<% if @images.blank? %>
  <div class='text-center'>
    <h5> No image uploaded yet!!!!</h5>
    <li><%= link_to 'Upload New Image', new_image_path, class: 'btn btn-default btn-primary' %></li>
  </div>
<% else %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Size</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td><%= image.title%></td>
          <td>
            <div class='image-fit'> 
              <%= link_to image_tag(image.image.url(:thumb), class: 'media-object'), image.image.url, target: '_blank' %>
            </div>
          </td>
          <td><%= image_size(image) %></td>
          <td>
            <%= link_to 'Resize', edit_image_path(image), class: 'btn btn-primary' %>
            <%= link_to 'Remove', image_path(image), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
